.header {
  background-color: var(--header-navbar);
  height:7rem;
  width: 430px;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  font-family: Lexend, sans-serif; 
}

.list {
  list-style-type: none; 
  display: flex; 
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 100%;
  filter: var(--icon-filter);
}

.pageTitle {
  font-size: 2rem;
  width: 100%;
  font-family: "Lexend", sans-serif; 
  transform: translate(1rem, 1.5rem); 
}

.pointsCounter {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 4rem;
  margin-right: -1rem; 
  margin-left: -1rem; 
}

.gemIcon {
  padding-left: -3rem; 
}

.counter {
  border: 1.5px solid black; 
  min-width: 2rem; 
  height: 1rem; 
  padding: 0.2rem;  
  border-radius: 20px; 
  background-color: none; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  margin-left: 0.5rem; 
}

.settings a{
  color: black;
  text-decoration: none;
}

.overlay {
  position: fixed;
  width: 430px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.menu {
  position: absolute;
  background-color: var(--header-navbar);
  width: 250px;
  height: 100%;
  margin-left: 180px;
  z-index: 1001;
}

.menuItem {
  text-align: left;
  display: block;
  text-decoration: none;
  margin-top: 1.5rem;
  color: var(--black);  
}

.exit {
  padding-left: 190px;
  margin: 1rem;
}

.exit:hover {
  cursor: pointer; 
}

.exitIcon {
  transform: translate(0, 1.5rem); 
}

.exitIcon {
  cursor: pointer; 
}

.backIcon {
  transform: translate(0, 1.5rem); 
}

.navIcon {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  transform: translate(0.5rem, 1.5rem); 
}

.navIcon:hover {
  cursor: pointer;
}

.hamIcon {
  margin: 0rem 2rem -0.5rem 3rem;
  filter: var(--icon-filter);
}

.exitButton {
  border: none;
  background-color: none;
  outline: none;
}

.popup {
  position: absolute;
  top: 20rem;
  left: 1.5rem;
  width: 381px;
  height: 218px;
  margin: auto;
  border-radius: 30px;
  background-color: var(--white-text);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.popUpButton {
  height: 30px;
  width: 107px;
  border: none;
  background-color: var(--accent-color);
  border-radius: 30px;
  margin: 0rem 1rem;
  font-weight: 300;
  font-size: 16px;
}

.popUpButtonStay {
  height: 30px;
  width: 107px;
  border: none;
  background-color: var(--accent-color);
  border-radius: 30px;
  margin: 0rem 1rem;
  font-weight: 300;
  font-size: 16px;
}

.popUpButtonStay:hover {
  background-color: var(--white); 
  border: 2px solid var(--accent-color); 
  cursor: pointer;
}

.popUpButton:hover {
  background-color: var(--white); 
  border: 2px solid var(--accent-color); 
  cursor: pointer;
}

.leave {
  background-color: var(--secondary-color);
}

.popup p{
  text-align: center;
  padding: 0rem 5rem;
  height: 30px;
  margin-top: 3rem;
}

.navIconLabel {
  transform: translate(0.4rem, 1rem); 
}

.menuItem:hover {
  cursor: pointer; 
  text-decoration: underline; 
}