.header {
  background-color: var(--secondary-color);
  height:7rem;
  width: 430px;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.list {
  list-style-type: none; 
  display: flex; 
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 100%;
}

.pageTitle {
  font-size: 2rem;
  width: 100%;
  font-family: 'Besley', serif;
}

.counter {
  border: 2px solid black; 
  width: 3rem; 
  height: 1rem; 
  padding: 0.2rem;  
  border-radius: 20px; 
  background-color: none; 
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 2rem;  
}

.settings a{
  color: black;
  text-decoration: none;
}

.overlay {
  position: fixed;
  width: 430px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.menu {
  position: absolute;
  background-color: var(--secondary-color);
  width: 250px;
  height: 100%;
  margin-left: 180px;
  z-index: 1001;
}

.menuItem {
  text-align: left;
  display: block;
  text-decoration: none;
  margin-top: 1.5rem;
  color: var(--black);  
}

.exit {
  padding-left: 190px;
  margin: 1rem;
}

.navIcon {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
}

.hamIcon {
  margin: 0rem 2rem -0.5rem 3rem;
}

