.Landing{
    background-color: var(--sky-background);
    width: 430px;
    height: 100%;
    margin: -7px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend', sans-serif;
}

.beehiveImg{
    transform: translate(-4.6rem);
    margin-top: 2rem;
}

.leftCloud{
    transform: translate(8rem);
    margin-top: -3rem;
}