.rewardsItem {
    background-color: var(--light-green);
    border-radius: 30px;
    width: 191px;
    height: 220px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.itemName {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 1rem;
}

.rewardsItem p {
    width: 100%;
    text-align: center;
}
