.featuredImage {
    max-width: 92%;
    height: 20rem;
    border-radius: 30px;
    background-color: var(--tertiary-color);
    object-fit: cover;
}

.articleTitle {
    border-radius: 30px;
    background-color: var(--tertiary-color);
    display: inline-block;
    padding: 1rem 2rem;
    position: absolute;
    transform: translateX(-23rem) translateY(17.7rem);
}