.main {
  display: flex;
  justify-content: center;
  background-color: var(--black-text);
  min-height: 100vh;
  margin: -10px;
}

.screen {
  width: 430px;
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buffer{
  height: 10rem;
  width: 100%;
}