@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); 

:root {
  --secondary-color: #FEECAC;
  --accent-color: #FFC93D;
  --tertiary-color: #4D6A58;
  --black-text: #0000;
  --white-text: #FFFFFF; 
  --incorrect: #851313;
  --correct: #1E3E19;
  --shadow: #D5D1A7;
  --sky-background: #E7F9FF;
  --grey: #B9B4B4; 
  --cream: #FFFEF4;
  
  --font: "Lexend", sans-serif; 
}
