@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Lexend:wght@100..900&display=swap');

.main {
  display: flex;
  justify-content: center;
  background-color: var(--black-text);
  min-height: 140vh;
  margin: -10px;
  font-family: "Lexend", sans-serif; 
}

.screen {
  width: 430px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--cream);
}

.buffer{
  height: 10rem;
  width: 100%;
}

.screen h2 {
  width: 100%;
  text-align: center;
  font-family: "Lexend", sans-serif; 
  font-weight: 500;
  font-size: 2.625rem; 
  text-align: left;
  line-height: 3rem;
}

.beekeper{
  margin-bottom: 2rem;
}

.welcomeBack{
  line-height: 0.1rem;
  margin-left: 1rem;
}

.welcomeBack span{
  font-weight: bold;
}

.donation{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 24.875rem;
  border: 3px solid var(--teal);
  border-radius: 3.125rem;
}

.donation h3{
  font-size: 1.375rem;
  font-weight: 300;
}

.donation p{
  margin-left: 0.4rem;
  font-size: 1.375rem;
  font-weight: bold;
}

.quizSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 10px solid var(--accent-color);
  box-shadow: 0px 1px 2px 1px #C18708 inset;
  width: 22rem;
  padding: 1rem;
  margin-top: 2rem;
}

.quizSection div{
  display: flex;
  flex-direction: row;
}

.quizSection h4{
  font-size: 1.375rem;
  font-weight: 400;
  margin-left: 2rem;
}

.quizSection img{
  margin: 0.5rem;
}

.quizSection span{
  font-weight: 600;
}

.quizSection button{
  width: 14rem;
  background-color: var(--accent-color);
  border: none;
  border-radius: 1.875rem;
  padding: 1rem;
  font-family: var(--font-family);
  font-size: 1.375rem;
  margin-top: 1rem;
}

.quizSection a{
  text-decoration: none;
  color: var(--black);
}

.heading {
  transform: translate(0, -1rem); 
}

.latestNews {
  width: 24.875rem;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: var(--light-green);
  margin-top: 2rem;
}

.latestNews div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.latestNews h4{
  font-size: 1.375rem;
  font-weight: 400;
  margin-left: 2rem;
}

.latestNews img{
  margin-left: 2rem;
  margin-top: 1rem;
}

.newsArrow {
  transform: scaleX(-1) translate(1rem, -0.35rem); 
}

.matchingArrow {
  transform: scaleX(-1) translate(1rem, 0.20rem); 
}

.latestNewsButton {
  border: none;
  font-family: "Lexend", sans-serif; 
  background-color: var(--green);
  width: 14rem;
  height: 2.5rem;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.latestNewsLink {
  padding-top: 0.25rem; 
  padding-left: 1.5rem; 
  font-size: 1.375rem; 
  font-weight: 500; 
  text-decoration: none; 
  color: var(--black); 
}

.matching{
  width: 24.875rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: var(--light-teal);
  margin-top: 2rem;
}

.matchingLink {
  padding-left: 0.6rem; 
}

.matching div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.matching h4{
  font-size: 1.375rem;
  font-weight: 400;
  margin-left: 3rem;
}

.matching img{
  margin-left: 2.5rem;
}

.matchingButton{
  font-family: var(--font-family);
  background-color: var(--teal);
  border: none;
  border-radius: 1.875rem;
  width: 14rem;
  height: 2.5rem;
  font-size: 1.375rem;
  font-weight: 500;
  align-items: center;
  text-align: center;
  margin-left: 6rem;
  margin-bottom: 1rem;
}

.matchingButton a{
  text-decoration: none;
  color: var(--black);
}

.adventure {
  width: 399px;
  height: 310px;
  border-radius: 30px;
  background-color: var(--light-pink);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  transform: translate(0, 8rem); 
  margin-bottom: 5rem; 
  margin-top: -6rem; 
}

.adventureText {
  width: 50%;
  padding: 1rem;
}

.adventureTitle {
  font-weight: 500;
  font-size: 22px;
}

.adventureDescription {
  font-weight: 200; 
}

.beenardAdventure {
  width: 35%;
  margin-top: 3rem;
}

.adventureButton {
  font-family: var(--font-family);
  border: none;
  background-color: var(--pink);
  width:  225px;
  height: 2.5rem;
  margin: 1rem 5rem 2rem;
  border-radius: 30px;
}

.adventureLink {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 22px;
}

.donationLink {
  text-decoration: none; 
  color: var(--black); 
}