.main {
    display: flex;
    justify-content: center;
    background-color: var(--black-text);
    min-height: 120vh;
    margin: -10px;
    font-family: "Lexend", sans-serif; 
}
  
.screen {
    width: 430px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--cream);
}

.photoName{
    display: flex;
    margin-top: 8rem;
    margin-bottom: 2rem;
    margin-left: -2.5rem; 
}

.photoName h3{
    font-size: 1.375rem;
    font-weight: 600;
    margin-top: 3.3rem;
    margin-left: -2.5rem;
}

.button {
    width: 12rem; 
    height: 2.5rem; 
    position: absolute; 
    transform: translate(-14.5rem, 32.5rem);
    border-radius: 30px;  
    background-color: var(--accent-color); 
    font-family: Lexend, sans-serif; 
    border: none; 
    font-size: 1.2rem;
    transition: 0.2s; 
}

.button:hover {
    cursor: pointer;
    background-color: var(--white); 
    border: 3px solid var(--accent-color); 
}
