.main {
    display: flex;
    justify-content: center;
    background-color: var(--black-text);
    min-height: 120vh;
    margin: -10px;
    font-family: "Lexend", sans-serif; 
}
  
.screen {
    width: 430px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--cream);
}

.photoName{
    display: flex;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.photoName h3{
    font-size: 1.375rem;
    font-weight: 600;
    margin-top: 3.3rem;
    margin-left: -2.5rem;
}

