.screen {
    width: 430px;
    height: 100%;
    background-color: var(--secondary-color);
    margin: -7px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .question{
  }

  .buffer{
    height: 10rem;
    width: 100%;
  }

  .speaker {
    background-color: var(--accent-color);
    width: 3rem;
    height: 3rem;
  }

  .gameBanner {
    width: 100%;
    background-color: var(--accent-color);
    height: 10rem;
    margin: 2rem 0;
  }

  .questionHead {
    display: flex;
    width: 13rem;
    align-items: center;
    justify-content: space-between;
  }

  .option {
    width: 46%;
    height: 7rem;
    border-radius: 30px;
    margin: 0.5rem;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .optionContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .microphone {
    background-color: var(--accent-color);
    height: 5rem;
    width: 5rem;
    margin: 2rem 0;
    border-radius: 50%;
  }