.main {
  display: flex;
  justify-content: center;
  background-color: var(--black-text);
  min-height: 100vh;
  margin: -10px;
}

.screen {
  width: 430px;
  height: 100%;
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buffer{
  height: 10rem;
  width: 100%;
}

.userProfile {
  width: 300px; 
  height: 200px; 
  display: flex; 
  margin-top: 2rem; 
  padding-right: 4rem; 
}

.profileDetails {
  margin-left: 2rem; 
  font-family: "Lexend", sans-serif; 
}

.nav {
  background-color: var(--accent-color);
  height: 9rem;
  width: 430px;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.settingOptions {
  font-family: "Lexend", sans-serif; 
  margin-top: -3.5rem; 
  padding-right: 5rem; 
}

.list {
  list-style-type: none; 
}

.listItem {
  display: flex; 
}

.icon {
  margin-left: -3rem; 
  margin-right: 1rem; 
  width: 13%; 
}

.listItem h5 {
  font-size: 1rem; 
  font-weight: 300; 
}

.listItem p {
  font-size: 0.75rem; 
  font-weight: 300; 
  color: var(--grey); 
  margin-top: -1.5rem; 
}

.toggle {
  position: absolute; 
  transform: translate(16rem, 1.8rem); 
}

.toggle2 {
  position: absolute; 
  transform: translate(16rem, 1.8rem); 
}

.toggle3 {
  position: absolute; 
  transform: translate(16rem, 1.8rem); 
}

.dropdown {
  width: 4.5rem; 
  height: 1.5rem; 
  position: absolute; 
  transform: translate(4.2rem, 2rem);
  border: 2px solid var(--pink); 
}

.dropdown2 {
  width: 4.5rem; 
  height: 1.5rem; 
  position: absolute; 
  transform: translate(4.5rem, 2rem);
  border: 2px solid var(--pink); 
}

.dropdown3 {
  width: 4.5rem; 
  height: 1.5rem; 
  position: absolute; 
  transform: translate(4.3rem, 2rem);
  border: 2px solid var(--pink); 
}