.main {
    display: flex;
    justify-content: center;
    background-color: var(--black-text);
    min-height: 100vh;
    margin: -10px;
    font-family: "Lexend", sans-serif;
}
  
.screen {
    width: 429px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--cream);
    margin-top: 10rem;
}

.heading{
    text-align: center;
    line-height: 5px;
}

.heading h4{
    font-size: 1.375rem;
    font-weight: 400;
}

.heading p{
    font-weight: 300;
    margin-top: -8px;
    margin-bottom: 3rem;
}

.speciesImages img{
    border-radius: 30px;
    object-fit: cover;
    padding: 13px;
}