.main {
  display: flex;
  justify-content: center;
  background-color: var(--black-text);
  min-height: 100vh;
  margin: -10px;
  font-family: "Lexend", sans-serif; 
}

.screen {
  width: 430px;
  height: 100%;
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buffer {
  height: 10rem;
  width: 100%;
}

.userStats {
  width: 100%; 
  display: flex; 
  justify-content: center; 
  text-align: center; 
}

.list {
  display: flex; 
  list-style-type: none; 
  gap: 2.5rem; 
  margin-right: 2.8rem; 
}

.listItem h6 {
  font-weight: 300; 
  font-size: 0.9rem; 
  width: 100px; 
  margin-top: -0.5rem; 
}

.graphs {
  width: 100%; 
}

.graph {
  width: 44%;
  height: 10rem;
  border-radius: 30px;
  margin: 0.5rem;
  display: block; 
}

.nav {
  background-color: var(--accent-color);
  height: 9rem;
  width: 430px;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.filterList {
  display: flex; 
  gap: 4rem; 
  list-style-type: none; 
  background-color: var(--secondary-color); 
  border-radius: 30px; 
  padding-right: 2rem;
  height: 3rem;  
  width: 22rem; 
  margin-bottom: 2rem; 
}

.filterListItem h6 {
  font-weight: 300; 
  font-size: 0.9rem; 
  transform: translate(3rem, -1.2rem); 
}

.filterListItem1 h6 {
  font-weight: 300; 
  font-size: 0.9rem; 
  transform: translate(-1.9rem, -1.8rem); 
  background-color: var(--accent-color); 
  border-radius: 30px; 
  padding: 0.6rem; 
  padding-left: 2rem; 
  padding-right: 2rem; 
  position: absolute; 
}